<%= form_with(model: operation) do |form| %>
  <% if operation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label "Amount", style: "display: block" %>
    <%= form.text_field :amount, class:"form-control", placeholder:"Amount"  %>
  </div>

  <div class="field form-group">
    <%= form.label "Operation Date", style: "display: block" %>
    <%= form.datetime_field :odate, class:"form-control" %>
  </div>

  <div class="field form-group">
  <%= form.label "Description", style: "display: block" %>
    <%= form.text_field :description, class:"form-control", placeholder:"Description"  %>
  </div>

  <%= form.label :operation_type %>
  <br>
  <div class="form-check">
    <%= form.radio_button :operation_type, 'income', class: "form-check-label" %>
    <%= form.label :operation_type_income, 'Income' %>
    <%= form.radio_button :operation_type, 'expense', class: "form-check-label" %>
    <%= form.label :operation_type_expense, 'Expense' %>
  </div>

  <div class="field form-group">
    <%= form.label :category_id, style: "display: block" %>
    <%= select(:operation, :category_id, options_for_select(@categories)) %>
  </div>
<br>
  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
