<p>
  <strong>Amount:</strong>
  <%= operation.amount %>
</p>

<p>
  <strong>Operation date:</strong>
  <%= operation.odate %>
</p>

<p>
  <strong>Description:</strong>
  <%= operation.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= operation.category.name %>
</p>

<p>
  <strong>Operation Type:</strong>
  <%= operation.operation_type %>
</p>
